CREATE TABLE "AntiCheat" (
	"AC-Enabled"	INTEGER
	"UsrAdmCount"	INTEGER
	"WorstPlayer1"	TEXT
	"WorstPlayer2"	TEXT
	"WorstPlayer3"	TEXT
	"WorstPlayer4"	TEXT
	"WorstPlayer5"	TEXT
);

CREATE TABLE "ServerData" (
	"ServerName"	TEXT
	"ServerCore"	TEXT
	"ServerVersion"	NUMERIC
	"ServerOS"		TEXT
	"ServerNumericIP"	NUMERIC
	"ServerTextIP"	TEXT
)

CREATE TABLE "Java" (
	"JavaVersion"
)